.discover-main-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: 100px;
}

.discover-main-section .team-image {
    background-image: url(/images/team.svg);
    flex-grow: 1;
    max-height: 45vh;
    min-width: 45vw;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.icon-section {
    display: flex;
}


.faculty-sponser {
    color: inherit;
    /* text-decoration: none; */
    padding: 1rem;
    padding-left: 0rem;
}
.faculty-sponser:hover {
    color: #adadad;
}
.icon :not(.material-icons) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: .5rem;
    padding: .75rem;
    width: 170px;
    height: 180px;
    background-color: #202027;
    margin-bottom: 2rem;
}

.icon img {
    width: 100px;
}

@media (max-width: 900px) {
    .discover-main-section {
        flex-direction: column;
        justify-content: center;
    }

    .discover-main-section .team-image {
        display: none;
    }
}


/*TEAM INFO*/
/*LINE IN THE MIDDLE*/


/*codepen by loan sameli*/
.team_description {
    margin-top: 200px;
    margin-bottom: 50px;
}


.person {
    width: 700px;
    padding-left: 230px;
    padding-top: 30px;
    padding-bottom: 70px;
    min-height: 200px;
    margin: auto;
    position: relative;
    align-content: center;

}

.person-badge {
    width: 200px;
    height: 200px;
    border-radius: 0 0 100px 100px;
    overflow: hidden;
    transform: rotate(0deg);
    /* To force its own layer */
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 200px;
    box-shadow: gray 0 0 10px;
}

.person-badge:before,
.person-badge:after {
    content: "";
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    z-index: -1;
    width: 200px;
    height: 200px;
    transition: 500ms;
}

.person-badge:after {
    background: linear-gradient(to top, #FC0 0%, #EEE 100%);
    opacity: 0;
}

.person:nth-child(2) .person-badge:after {
    background: linear-gradient(to top, #5AB 0%, #EEE 100%);
}

.person:nth-child(3) .person-badge:after {
    background: linear-gradient(to top, #5AB 0%, #EEE 100%);
}

.person:nth-child(4) .person-badge:after {
    background: linear-gradient(to top, #5AB 0%, #EEE 100%);
}

.person:nth-child(5) .person-badge:after {
    background: linear-gradient(to top, #F88 0%, #EEE 100%);
}

.person:nth-child(6) .person-badge:after {
    background: linear-gradient(to top, #F88 0%, #EEE 100%);
}

.person:nth-child(7) .person-badge:after {
    background: linear-gradient(to top, #F88 0%, #EEE 100%);
}


.person-badge:hover:after {
    opacity: 1;
}

.person-badge img {
    width: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 500ms;
}

/* .person-badge img.peculiar {
    opacity: 0;
    transform: translateY(80px)
} */

/* .person-badge:hover img.normal {
    opacity: 0;
    transform: translateY(80px)
} */

.person-badge {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.person-badge:hover, .person-badge:focus, .person-badge:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* .person-badge:hover img.peculiar {
    opacity: 1;
    transform: translateY(0)
} */

/*codepen by loan sameli end*/
.person h3 {
    margin: 0;
    font-weight: 200;
    font-size: 1.5rem;
}

.person p {
    font-size: 1.0rem;
}

strong {
    color: #888;
    margin: -3px 0 5px 0;
    display: block;
    font-size: 0.8em;
}

@media (max-width: 750px) {
    .person {
        width: unset;
        padding-left: unset;
    }
    .person-badge {
        display: block;
        position: unset;
        margin-bottom: 20px;
        margin-left: 9%;
        margin-right: 9%;

    }
    .person h3, .person strong, .person p {
        padding-left: 10%;
        padding-right: 10%;
    }
}