@import url('https://fonts.googleapis.com/css?family=Google+Sans');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    /* background: linear-gradient(241.74deg, #0C0C1F 6.53%, #000427 53.47%, #00095E 80.15%); */
    font-family: Google Sans, sans-serif;
    /* font-size: 1.2rem; */
    /* color: white; */
    color: black !important;
    min-height: 100vh;
    min-width: 50vh;
    width: auto !important;
    width: 50vh;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.brand-logo {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    color: inherit;
    text-decoration: none;
}

.brand-logo-name {
    margin-left: 1rem;
}

.main-nav ul {


    display: flex;

    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav a {
    color: inherit;
    text-decoration: none;
    padding: 1rem;
}

.main-nav a:hover,
.footer-icons a:hover {
    color: #adadad;
}


.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 50vh;
    width: auto !important;
    width: 50vh;
}

.main-header {
    height: 140px;
}

/*Calendar*/

@media (max-width: 550px) {
    .big-container {
        display: none;
    }
 }
 @media (min-width: 550px) {
    .small-container {
        display: none;
    }
 }
 /* Responsive iFrame */
 .responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
 }
 .responsive-iframe-container iframe,   
 .responsive-iframe-container object,  
 .responsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 }

/*FOOTER----------------------*/
.footer-main-div {
    width: 100%;
    height: auto;
    padding: 20px 0px;
}

.footer-icons {
    width: 100%;
    height: auto;
    margin: auto;

}

.footer-icons ul {
    margin-right: 0px;
    padding: 0px;
    text-align: center;

}

.footer-icons ul li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 5px;
    border-radius: 100%;
    background: inherit;
}

.footer-icons ul li a {
    font-size: 25px;
    /* color: white; */
    color: black;
}

.footer-icons ul li a i {
    line-height: 50px;

}

.footer-menu-one {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 0px;
    font-size: 15px;
    margin-bottom: 20px;

}

.footer-menu-one ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.footer-menu-one ul li {
    display: inline-block;
    margin: 0px 15px;
}

.footer-menu-one ul li a {

    font-weight: 400;
    /* color: white; */
    color: black;

}

/*.main-footer {
  height: auto;
  margin:auto;
  width: 100%;
  padding: 20px 0px;
  text-align: center;
  font-weight: bold;
}

.social-link img {
  width: 1em;
  margin-right: .25rem;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
}*/

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    flex-grow: 1;
}

.title {
    /* font-weight: 500; */
    font-size: 3em;
    font-family: Google Sans, sans-serif;
    margin-bottom: 1rem;
    margin-top: 0;
}

.subtitle {
    /* font-weight: 500; */
    font-size: 1.4em; 
    margin-bottom: 2rem;
}

/*BUTTON*/
.btn {
    color: white;
    /* background: linear-gradient(90deg, #047CFF 0%, #7F5EFF 100%); */
    background: linear-gradient(90deg, #4285F4 0%, #174EA6 100%);
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: .9rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #2180d8;
}

.btn:focus {
    background-color: #2796ff;
}

/*CIRCLES*/
.home-page-circle-1 {
    position: fixed;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    /* background-color: rgb(188, 58, 128, .1); */
    background-color: rgba(66, 133, 244, .075);
    bottom: 8vh;
    left: 5vw;
    z-index: -1;
}

.home-page-circle-2 {
    position: fixed;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    /* background-color: rgb(52, 87, 178, .1); */
    background-color: rgba(234, 67, 53, .075);

    bottom: 45vh;
    left: 28vw;
    z-index: -1;
}
.home-page-circle-4 {
    position: fixed;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    /* background-color: rgb(52, 87, 178, .1); */
    background-color: rgb(251,188, 4, .075);

    bottom: 20vh;
    left: 50vw;
    z-index: -1;
}

.home-page-circle-3 {
    position: fixed;
    overflow: hidden;
    width: 40vw;
    height: 40vw;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.home-page-circle-3::before {
    content: '';
    transform: translate(30%, 30%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    /* background-color: rgb(52, 87, 178, .1); */
    background-color: rgb(52,168, 83, .075);

}

/*CIRCLES END*/
